* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --blue: #2f80ed;
  --white-gray: #f2f2f2;
  --black: #333333;
  --gray-dark: #4f4f4f;
}

body {
  position: relative;
}
.border {
  border: 1px solid black;
}
.active {
  text-decoration: underline !important;
}
.h4 {
  width: 100%;
  height: 100%;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 33.2014px;
  line-height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.02em;
  color: #0076bf;
}

.nav {
  position: fixed;
  top: 0;
  bottom: auto;
  left: 0;
  right: 0;
  background-color: var(--blue);
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 3;
}
@media (min-width: 1440px) {
  .nav {
    /* width: 1336px;
    margin-left: calc(50% - 668px); */
  }
}

.logo {
}
.logo a,
.logo h3 {
  text-decoration: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 54px;
  color: var(--white-gray);
  text-decoration: none;
}
.nav-links {
  width: 693px;
  height: 36px;
  display: flex;
  justify-content: space-between;
}

.nav-links a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 36px;
  color: var(--white-gray);
  text-decoration: none;
}

.nav-links a:hover {
  text-decoration: underline;
}

.main {
  /* width: 100%; */
  margin: auto 100px;
  display: flex;
  justify-content: center;
}

.social {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: calc(50vh - 120px);
  bottom: auto;
  left: 100px;
  right: auto;
}
.main-container {
  margin-top: 150px;
  width: 995px;
  height: 418px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;
}

.main-desc {
  width: 443px;
  height: 403px;
}

.main-img {
  width: 421px;
  height: 414px;
  background: #d9d9d9;
  border-radius: 10px;
}
.mt-3 {
  margin-top: 24px;
}
.names {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 80px;
  line-height: 90px;
  display: flex;
  align-items: center;
  color: var(--blue);
}
.main-desc p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 54px;
  color: var(--gray-dark);
}

.main-btn {
  width: 421px;
  height: 80px;
  background: var(--white-gray);
  border: 2px solid var(--blue);
  border-radius: 20px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 54px;
  color: var(--gray-dark);
  cursor: pointer;
  margin-top: 10px;
}
.main-btn:hover {
  background-color: var(--blue);
  color: var(--white-gray);
}

.footer {
  position: relative;
  width: 1000px;
  height: 80px;
  margin-left: calc(50% - 500px);
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.footer hr {
  height: 3px;
  background-color: var(--blue);
}
.footer p {
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--black);
  margin-top: 5px;
}
.login {
  width: 80px;
  height: 40px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blue);
  color: var(--white-gray);
  border: 2px solid var(--white-gray);
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
}
.login:hover {
  color: var(--blue);
  border: 1px dashed var(--blue);
  background-color: var(--white-gray);
}

/* About Page */

.about-desc {
  width: 407px;
  height: 414px;
}
.about-names {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 42px;
  color: var(--blue);
}

.about-occupation {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  color: #828282;
  margin-bottom: 30px;
}

.about-desc p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  color: var(--gray-dark);
}
/* Skills Page */

.skills-container {
  width: 900px;
  margin-top: 150px;
}
.skill {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.skill-card {
  width: 500px;
  height: 200px;
  background: var(--white-gray);
  opacity: 0.8;
  backdrop-filter: blur(1px);
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.skill-card-img {
  width: 208px;
  height: 180px;
  border-radius: 10px;
  margin-left: 9px;
}
.skill-desc {
  width: 222px;
  height: 145px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 23px;
}
.skill-desc h5 {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--blue);
}
.skill-desc p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  color: var(--gray-dark);
}
.skill > img {
  width: 160px;
  height: 200px;
}

/* My work Page */

.mywork-container {
  width: 754px;
  /* height: 261px; */
  margin-top: 150px;
  margin-bottom: 80px;
}
.work {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.work > img {
  width: 124px;
  height: 260px;
}

.work-desc {
  width: 404px;
  height: 203px;
}
.work-desc h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 39px;
  color: var(--blue);
  margin-bottom: 15px;
}
.work-desc p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  color: var(--gray-dark);
  margin-bottom: 13px;
}
.work-row {
}
.work-row a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 275;
  font-size: 18px;
  line-height: 27px;
  text-decoration-line: underline;
  color: #828282;
  margin-right: 26px;
}

/* Blogs Page */

.blogs-container {
  width: 1027px;
  height: auto;
  margin-top: 180px;
  display: flex;
  justify-content: space-between;
}
.articles {
  width: 553px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.popular {
  width: 400px;
  height: 100%;
  max-height: 607px;
  background: #ffffff;
  opacity: 1;
  border: 2px solid #bdbdbd;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.article {
  width: 550px;
  height: 140px;
  background: var(--white-gray);
  opacity: 1;
  backdrop-filter: blur(2px);
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 25px;
}
.article-desc {
  width: 377px;
}
.article-desc h5 {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 400;
  font-size: 21px;
  line-height: 32px;
  text-decoration-line: underline;
  color: var(--blue);
}
.article-desc p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  color: var(--gray-dark);
}
.article > img {
  width: 95px;
  height: 95px;
  background: #d9d9d9;
  border: 1px solid var(--gray-dark);
  border-radius: 15px;
}
.header-underlined {
  margin-top: 40px;
  margin-bottom: 40px;
}
.header-underlined h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: var(--blue);
}
.header-underlined hr {
  height: 3px;
  width: 190px;
  background-color: var(--blue);
}
.popular-article {
  width: 370px;
  height: auto;
  background: var(--white-gray);
  opacity: 1;
  border-radius: 20px;
  /* padding-left: 24px;
  padding-top: 16px; */
  padding: 16px 24px;
  margin-bottom: 27px;
}
.popular-article h5 {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 400;
  font-size: 16.6667px;
  line-height: 25px;
  text-decoration-line: underline;
  color: var(--blue);
  margin-bottom: 3px;
  overflow-x: clip;
}
.popular-article p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 13.7px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  color: var(--gray-dark);
  overflow-x: clip;
}

/* Contact */
.contacts-container {
  width: 1161px;
  height: 544px;
  margin-top: 150px;
}

.form {
  width: 706px;
  /* height: 467px; */
  background: rgba(217, 217, 217, 0.7);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  margin-left: calc(50% - 353px);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form > div {
  width: 100%;
  height: 61px;
  background: var(--blue);
  border-radius: 20px 20px 0px 0px;
  padding: 12px 70px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  color: var(--white-gray);
  margin-bottom: 42px;
}
.form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  width: 535px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid var(--blue);
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.input > label {
  width: 40px;
  height: 100%;
  border-right: 1px solid var(--blue);
  display: flex;
  align-items: center;
  justify-content: center;
}
.input input,
.input textarea {
  background: #d9d9d9;
  height: 99.999%;
  flex: 1;
  padding-left: 20px;
  border-radius: 0px 10px 10px 0px;
  outline: none;
  border: 0;
}

.input input:focus {
  outline: none;
}

::placeholder {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #828282;
}
.contact-btn {
  width: 125px;
  height: 40px;
  background: var(--white-gray);
  border: 3px solid var(--blue);
  border-radius: 10px;
  margin-bottom: 17px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: var(--blue);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Login */

.form-login {
  width: 556px;
  /* height: 357px; */
}

.form-footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}
.form-btn {
  display: flex;
  justify-content: space-around;
  width: 300px;
}

.file-input {
  appearance: menulist-button;
  text-overflow: ellipsis;
  white-space: normal;
  writing-mode: sideways-lr;
  -webkit-rtl-ordering: none;
}

.create-file-input {
  color: transparent;
  opacity: 1 !important;
  flex: 1;
}
.create-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.create-file-input::before {
  content: "Profile Image";
  color: var(--blue);
  display: inline-block;
  background: -webkit-linear-gradient(top, #d9d9d9, #d9d9d9);
  border-radius: 5px;
  padding: 10px 20px;
  outline: none;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 10pt;
  width: 100%;
  height: 100%;
}
.create-file-input:hover::before {
  border-color: var(--blue);
}
.create-file-input:active {
  outline: 0;
}
.create-file-input:active::before {
  background: -webkit-linear-gradient(top, var(--blue), var(--blue));
}

.input-login {
  width: 400px;
}

.reset_password {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 275;
  font-size: 18px;
  line-height: 27px;
  text-decoration-line: underline;
  color: #828282;
  margin-right: 26px;
}
/* Menu button */
.menu,
.close-btn {
  display: none;
}

/* Comments => Blog view  */
.comments {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mb-3 {
  margin-bottom: 18px;
}
.comment-input {
  background: #d9d9d9;
  height: 99.999%;
  flex: 1;
  padding-left: 20px;
  border-radius: 0px 10px 10px 0px;
  outline: none;
  border: 0;
}
.poppins {
  font-family: "poppins";
}

/* Menu button end */
@media (max-width: 1000px) {
  .nav-links {
    position: absolute;
    width: 50%;
    height: 100vh;
    background-color: var(--blue);
    color: var(--white-gray);
    opacity: 0.9;
    right: 0;
    left: auto;
    top: 0;
    bottom: auto;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 40px;
    justify-content: flex-start;
  }
  .d-none {
    display: none;
  }
  .close-btn {
    display: block;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 36px;
    color: var(--white-gray);
    border: 1px solid var(--white-gray);
    background-color: transparent;
    margin-top: 0px;
    margin-bottom: 30px;
    width: 50%;
  }
  .nav-links a {
    margin-bottom: 20px;
  }
  .menu {
    display: block;
    height: 50px;
    width: 50px;
    background: url('data:image/svg+xml,<?xml version="1.0" ?><svg width="40px" height="40px" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3 7C3 6.44771 3.44772 6 4 6H24C24.5523 6 25 6.44771 25 7C25 7.55229 24.5523 8 24 8H4C3.44772 8 3 7.55229 3 7Z" fill="white"/><path d="M3 14C3 13.4477 3.44772 13 4 13H24C24.5523 13 25 13.4477 25 14C25 14.5523 24.5523 15 24 15H4C3.44772 15 3 14.5523 3 14Z" fill="white"/><path d="M4 20C3.44772 20 3 20.4477 3 21C3 21.5523 3.44772 22 4 22H24C24.5523 22 25 21.5523 25 21C25 20.4477 24.5523 20 24 20H4Z" fill="white"/></svg>');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
  .main {
    padding: 0 20px;
    width: 100%;
    margin: 0;
  }
  .social {
    top: auto;
    bottom: 0;
    left: auto;
    right: auto;
    background: var(--white-gray);
    padding: 10px;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    z-index: 5;
  }
  .main-container {
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-top: 90px;
  }
  .main-img {
    width: 100%;
    height: auto;
  }
  .main-desc {
    width: 100%;
    height: auto;
  }
  .names {
    font-size: 40px;
    line-height: 50px;
  }
  .main-desc > div {
    display: flex;
    justify-content: space-around;
  }
  .main-btn {
    width: 100%;
    height: 50px;
    font-size: 24px;
    line-height: 44px;
  }
  .footer {
    width: 300px;
    margin-left: calc(50% - 150px);
  }
  /* about */

  .about-desc {
    width: 100%;
    height: auto;
  }
  .about-names {
    margin-top: 15px;
  }

  /* Skills */
  .skills-container {
    width: 100%;
  }
  .skill-card {
    width: 70%;
    height: auto;
  }
  .skill-card-img {
    width: 30%;
    height: auto;
  }
  .skill-desc {
    width: 67%;
    height: auto;
    margin-left: 10px;
    margin: auto 5px;
  }
  .skill {
    margin-bottom: 50px;
  }
  .skill > img {
    height: auto;
    width: 20%;
  }

  /* My Work */

  .mywork-container {
    width: 100%;
    height: auto;
  }
  .work {
    flex-direction: column-reverse;
  }
  .work > img {
    height: 200px;
    width: auto;
  }
  .work-desc {
    width: 100%;
  }
  .work-desc h4 {
    font-size: 21px;
  }
  .blogs-container {
    width: 100%;
    height: auto;
    flex-direction: column;
  }
  .articles {
    width: 100%;
  }
  .article {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    padding: 10px;
  }
  .article > img {
    width: 85px;
    height: 85px;
    margin-left: 5px;
  }
  .article-desc {
    width: auto;
  }
  .article-desc h5 {
    font-size: 17px;
    line-height: normal;
    font-weight: 300;
    letter-spacing: normal;
  }
  .popular {
    width: 100%;
  }
  .header-underlined {
    margin: 20px auto;
  }
  .popular-article {
    width: 95%;
    height: auto;
    padding: 12px;
  }
  .popular-article h5 {
    font-size: 15px;
  }
  .contacts-container {
    width: 100%;
    height: auto;
  }
  .form {
    width: 100%;
    border-radius: 15px;
    margin-left: auto;
  }
  .form > div {
    height: 40px;
    border-radius: 15px 15px 0 0;
    padding: 5px 30px;
    font-size: 18px;
    line-height: normal;
    margin-bottom: 20px;
  }
  .form form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .input {
    width: 90%;
    margin-bottom: 15px;
  }
  .contact-btn {
    width: 90px;
  }
  .form-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .form-btn {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
}
@media (max-width: 600px) {
  .skill {
    margin-bottom: 30px;
  }
  .skill > img {
    display: none;
  }
  .skill-card {
    width: 100%;
  }
}
/* Custom scroll bar */
@media (min-width: 600px) {
  /* width */
  ::-webkit-scrollbar {
    width: 3px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
.error-toast {
  width: 80%;
  height: 48px;
  background-color: var(--blue);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  color: var(--white-gray);
  border: 4px solid #2b5c9dd8;
  border-radius: 6px;
  box-shadow: #0076bf;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 28px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  position: absolute;
  top: 16%;
  bottom: auto;
  right: 10%;
  left: auto;
  z-index: 995;
}
.error-toast span {
  flex: 1;
}
.error-toast button {
  border: none;
}
